<head>
  <title>This is Rawed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../../../style.css" media="screen" charset="utf-8">
</head>

<body>
  <div id="loading" class="loading">
    <div class="loading-container">
      <div class="circle-1">
        <div class="circle-2">
          <div class="circle-3">
            <div class="circle-4">
              <div class="circle-5">
                <div class="circle-6">
                  <div class="circle-7">
                    <div class="circle-8">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loading-container-label">
      [LOADING]
    </div>
  </div>
  <div id="app-container"></div>
</body>
