.padding-0 {
  padding: 0rem !important;
}

.padding-left-0 {
  padding-left: 0rem !important;
}

.padding-right-0 {
  padding-right: 0rem !important;
}

.padding-top-0 {
  padding-top: 0rem !important;
}

.padding-bottom-0 {
  padding-bottom: 0rem !important;
}

.padding-horizontal-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.padding-vertical-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-0 {
  margin: 0rem !important;
}

.margin-left-0 {
  margin-left: 0rem !important;
}

.margin-right-0 {
  margin-right: 0rem !important;
}

.margin-top-0 {
  margin-top: 0rem !important;
}

.margin-bottom-0 {
  margin-bottom: 0rem !important;
}

.margin-horizontal-0 {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.margin-vertical-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.width-0 {
  width: 0rem !important;
}

.height-0 {
  height: 0rem !important;
}

.min-width-0 {
  min-width: 0rem !important;
}

.min-height-0 {
  min-height: 0rem !important;
}

.max-width-0 {
  max-width: 0rem !important;
}

.max-height-0 {
  max-height: 0rem !important;
}

.width-d0 {
  width: 0rem !important;
}

.height-d0 {
  height: 0rem !important;
}

.min-width-d0 {
  min-width: 0rem !important;
}

.min-height-d0 {
  min-height: 0rem !important;
}

.max-width-d0 {
  max-width: 0rem !important;
}

.max-height-d0 {
  max-height: 0rem !important;
}

.width-v0 {
  width: 0vw !important;
}

.height-v0 {
  height: 0vw !important;
}

.min-width-v0 {
  min-width: 0vw !important;
}

.min-height-v0 {
  min-height: 0vw !important;
}

.max-width-v0 {
  max-width: 0vw !important;
}

.max-height-v0 {
  max-height: 0vw !important;
}

.padding-1 {
  padding: 0.7rem !important;
}

.padding-left-1 {
  padding-left: 0.7rem !important;
}

.padding-right-1 {
  padding-right: 0.7rem !important;
}

.padding-top-1 {
  padding-top: 0.7rem !important;
}

.padding-bottom-1 {
  padding-bottom: 0.7rem !important;
}

.padding-horizontal-1 {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.padding-vertical-1 {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}

.margin-1 {
  margin: 0.7rem !important;
}

.margin-left-1 {
  margin-left: 0.7rem !important;
}

.margin-right-1 {
  margin-right: 0.7rem !important;
}

.margin-top-1 {
  margin-top: 0.7rem !important;
}

.margin-bottom-1 {
  margin-bottom: 0.7rem !important;
}

.margin-horizontal-1 {
  margin-left: 0.7rem !important;
  margin-right: 0.7rem !important;
}

.margin-vertical-1 {
  margin-top: 0.7rem !important;
  margin-bottom: 0.7rem !important;
}

.width-1 {
  width: 4rem !important;
}

.height-1 {
  height: 4rem !important;
}

.min-width-1 {
  min-width: 4rem !important;
}

.min-height-1 {
  min-height: 4rem !important;
}

.max-width-1 {
  max-width: 4rem !important;
}

.max-height-1 {
  max-height: 4rem !important;
}

.width-d1 {
  width: 2rem !important;
}

.height-d1 {
  height: 2rem !important;
}

.min-width-d1 {
  min-width: 2rem !important;
}

.min-height-d1 {
  min-height: 2rem !important;
}

.max-width-d1 {
  max-width: 2rem !important;
}

.max-height-d1 {
  max-height: 2rem !important;
}

.width-v1 {
  width: 10vw !important;
}

.height-v1 {
  height: 10vw !important;
}

.min-width-v1 {
  min-width: 10vw !important;
}

.min-height-v1 {
  min-height: 10vw !important;
}

.max-width-v1 {
  max-width: 10vw !important;
}

.max-height-v1 {
  max-height: 10vw !important;
}

.padding-2 {
  padding: 1.4rem !important;
}

.padding-left-2 {
  padding-left: 1.4rem !important;
}

.padding-right-2 {
  padding-right: 1.4rem !important;
}

.padding-top-2 {
  padding-top: 1.4rem !important;
}

.padding-bottom-2 {
  padding-bottom: 1.4rem !important;
}

.padding-horizontal-2 {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.padding-vertical-2 {
  padding-top: 1.4rem !important;
  padding-bottom: 1.4rem !important;
}

.margin-2 {
  margin: 1.4rem !important;
}

.margin-left-2 {
  margin-left: 1.4rem !important;
}

.margin-right-2 {
  margin-right: 1.4rem !important;
}

.margin-top-2 {
  margin-top: 1.4rem !important;
}

.margin-bottom-2 {
  margin-bottom: 1.4rem !important;
}

.margin-horizontal-2 {
  margin-left: 1.4rem !important;
  margin-right: 1.4rem !important;
}

.margin-vertical-2 {
  margin-top: 1.4rem !important;
  margin-bottom: 1.4rem !important;
}

.width-2 {
  width: 8rem !important;
}

.height-2 {
  height: 8rem !important;
}

.min-width-2 {
  min-width: 8rem !important;
}

.min-height-2 {
  min-height: 8rem !important;
}

.max-width-2 {
  max-width: 8rem !important;
}

.max-height-2 {
  max-height: 8rem !important;
}

.width-d2 {
  width: 4rem !important;
}

.height-d2 {
  height: 4rem !important;
}

.min-width-d2 {
  min-width: 4rem !important;
}

.min-height-d2 {
  min-height: 4rem !important;
}

.max-width-d2 {
  max-width: 4rem !important;
}

.max-height-d2 {
  max-height: 4rem !important;
}

.width-v2 {
  width: 20vw !important;
}

.height-v2 {
  height: 20vw !important;
}

.min-width-v2 {
  min-width: 20vw !important;
}

.min-height-v2 {
  min-height: 20vw !important;
}

.max-width-v2 {
  max-width: 20vw !important;
}

.max-height-v2 {
  max-height: 20vw !important;
}

.padding-3 {
  padding: 2.1rem !important;
}

.padding-left-3 {
  padding-left: 2.1rem !important;
}

.padding-right-3 {
  padding-right: 2.1rem !important;
}

.padding-top-3 {
  padding-top: 2.1rem !important;
}

.padding-bottom-3 {
  padding-bottom: 2.1rem !important;
}

.padding-horizontal-3 {
  padding-left: 2.1rem;
  padding-right: 2.1rem;
}

.padding-vertical-3 {
  padding-top: 2.1rem !important;
  padding-bottom: 2.1rem !important;
}

.margin-3 {
  margin: 2.1rem !important;
}

.margin-left-3 {
  margin-left: 2.1rem !important;
}

.margin-right-3 {
  margin-right: 2.1rem !important;
}

.margin-top-3 {
  margin-top: 2.1rem !important;
}

.margin-bottom-3 {
  margin-bottom: 2.1rem !important;
}

.margin-horizontal-3 {
  margin-left: 2.1rem !important;
  margin-right: 2.1rem !important;
}

.margin-vertical-3 {
  margin-top: 2.1rem !important;
  margin-bottom: 2.1rem !important;
}

.width-3 {
  width: 12rem !important;
}

.height-3 {
  height: 12rem !important;
}

.min-width-3 {
  min-width: 12rem !important;
}

.min-height-3 {
  min-height: 12rem !important;
}

.max-width-3 {
  max-width: 12rem !important;
}

.max-height-3 {
  max-height: 12rem !important;
}

.width-d3 {
  width: 6rem !important;
}

.height-d3 {
  height: 6rem !important;
}

.min-width-d3 {
  min-width: 6rem !important;
}

.min-height-d3 {
  min-height: 6rem !important;
}

.max-width-d3 {
  max-width: 6rem !important;
}

.max-height-d3 {
  max-height: 6rem !important;
}

.width-v3 {
  width: 30vw !important;
}

.height-v3 {
  height: 30vw !important;
}

.min-width-v3 {
  min-width: 30vw !important;
}

.min-height-v3 {
  min-height: 30vw !important;
}

.max-width-v3 {
  max-width: 30vw !important;
}

.max-height-v3 {
  max-height: 30vw !important;
}

.padding-4 {
  padding: 2.8rem !important;
}

.padding-left-4 {
  padding-left: 2.8rem !important;
}

.padding-right-4 {
  padding-right: 2.8rem !important;
}

.padding-top-4 {
  padding-top: 2.8rem !important;
}

.padding-bottom-4 {
  padding-bottom: 2.8rem !important;
}

.padding-horizontal-4 {
  padding-left: 2.8rem;
  padding-right: 2.8rem;
}

.padding-vertical-4 {
  padding-top: 2.8rem !important;
  padding-bottom: 2.8rem !important;
}

.margin-4 {
  margin: 2.8rem !important;
}

.margin-left-4 {
  margin-left: 2.8rem !important;
}

.margin-right-4 {
  margin-right: 2.8rem !important;
}

.margin-top-4 {
  margin-top: 2.8rem !important;
}

.margin-bottom-4 {
  margin-bottom: 2.8rem !important;
}

.margin-horizontal-4 {
  margin-left: 2.8rem !important;
  margin-right: 2.8rem !important;
}

.margin-vertical-4 {
  margin-top: 2.8rem !important;
  margin-bottom: 2.8rem !important;
}

.width-4 {
  width: 16rem !important;
}

.height-4 {
  height: 16rem !important;
}

.min-width-4 {
  min-width: 16rem !important;
}

.min-height-4 {
  min-height: 16rem !important;
}

.max-width-4 {
  max-width: 16rem !important;
}

.max-height-4 {
  max-height: 16rem !important;
}

.width-d4 {
  width: 8rem !important;
}

.height-d4 {
  height: 8rem !important;
}

.min-width-d4 {
  min-width: 8rem !important;
}

.min-height-d4 {
  min-height: 8rem !important;
}

.max-width-d4 {
  max-width: 8rem !important;
}

.max-height-d4 {
  max-height: 8rem !important;
}

.width-v4 {
  width: 40vw !important;
}

.height-v4 {
  height: 40vw !important;
}

.min-width-v4 {
  min-width: 40vw !important;
}

.min-height-v4 {
  min-height: 40vw !important;
}

.max-width-v4 {
  max-width: 40vw !important;
}

.max-height-v4 {
  max-height: 40vw !important;
}

.padding-5 {
  padding: 3.5rem !important;
}

.padding-left-5 {
  padding-left: 3.5rem !important;
}

.padding-right-5 {
  padding-right: 3.5rem !important;
}

.padding-top-5 {
  padding-top: 3.5rem !important;
}

.padding-bottom-5 {
  padding-bottom: 3.5rem !important;
}

.padding-horizontal-5 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.padding-vertical-5 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}

.margin-5 {
  margin: 3.5rem !important;
}

.margin-left-5 {
  margin-left: 3.5rem !important;
}

.margin-right-5 {
  margin-right: 3.5rem !important;
}

.margin-top-5 {
  margin-top: 3.5rem !important;
}

.margin-bottom-5 {
  margin-bottom: 3.5rem !important;
}

.margin-horizontal-5 {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

.margin-vertical-5 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}

.width-5 {
  width: 20rem !important;
}

.height-5 {
  height: 20rem !important;
}

.min-width-5 {
  min-width: 20rem !important;
}

.min-height-5 {
  min-height: 20rem !important;
}

.max-width-5 {
  max-width: 20rem !important;
}

.max-height-5 {
  max-height: 20rem !important;
}

.width-d5 {
  width: 10rem !important;
}

.height-d5 {
  height: 10rem !important;
}

.min-width-d5 {
  min-width: 10rem !important;
}

.min-height-d5 {
  min-height: 10rem !important;
}

.max-width-d5 {
  max-width: 10rem !important;
}

.max-height-d5 {
  max-height: 10rem !important;
}

.width-v5 {
  width: 50vw !important;
}

.height-v5 {
  height: 50vw !important;
}

.min-width-v5 {
  min-width: 50vw !important;
}

.min-height-v5 {
  min-height: 50vw !important;
}

.max-width-v5 {
  max-width: 50vw !important;
}

.max-height-v5 {
  max-height: 50vw !important;
}

.padding-6 {
  padding: 4.2rem !important;
}

.padding-left-6 {
  padding-left: 4.2rem !important;
}

.padding-right-6 {
  padding-right: 4.2rem !important;
}

.padding-top-6 {
  padding-top: 4.2rem !important;
}

.padding-bottom-6 {
  padding-bottom: 4.2rem !important;
}

.padding-horizontal-6 {
  padding-left: 4.2rem;
  padding-right: 4.2rem;
}

.padding-vertical-6 {
  padding-top: 4.2rem !important;
  padding-bottom: 4.2rem !important;
}

.margin-6 {
  margin: 4.2rem !important;
}

.margin-left-6 {
  margin-left: 4.2rem !important;
}

.margin-right-6 {
  margin-right: 4.2rem !important;
}

.margin-top-6 {
  margin-top: 4.2rem !important;
}

.margin-bottom-6 {
  margin-bottom: 4.2rem !important;
}

.margin-horizontal-6 {
  margin-left: 4.2rem !important;
  margin-right: 4.2rem !important;
}

.margin-vertical-6 {
  margin-top: 4.2rem !important;
  margin-bottom: 4.2rem !important;
}

.width-6 {
  width: 24rem !important;
}

.height-6 {
  height: 24rem !important;
}

.min-width-6 {
  min-width: 24rem !important;
}

.min-height-6 {
  min-height: 24rem !important;
}

.max-width-6 {
  max-width: 24rem !important;
}

.max-height-6 {
  max-height: 24rem !important;
}

.width-d6 {
  width: 12rem !important;
}

.height-d6 {
  height: 12rem !important;
}

.min-width-d6 {
  min-width: 12rem !important;
}

.min-height-d6 {
  min-height: 12rem !important;
}

.max-width-d6 {
  max-width: 12rem !important;
}

.max-height-d6 {
  max-height: 12rem !important;
}

.width-v6 {
  width: 60vw !important;
}

.height-v6 {
  height: 60vw !important;
}

.min-width-v6 {
  min-width: 60vw !important;
}

.min-height-v6 {
  min-height: 60vw !important;
}

.max-width-v6 {
  max-width: 60vw !important;
}

.max-height-v6 {
  max-height: 60vw !important;
}

.padding-7 {
  padding: 4.9rem !important;
}

.padding-left-7 {
  padding-left: 4.9rem !important;
}

.padding-right-7 {
  padding-right: 4.9rem !important;
}

.padding-top-7 {
  padding-top: 4.9rem !important;
}

.padding-bottom-7 {
  padding-bottom: 4.9rem !important;
}

.padding-horizontal-7 {
  padding-left: 4.9rem;
  padding-right: 4.9rem;
}

.padding-vertical-7 {
  padding-top: 4.9rem !important;
  padding-bottom: 4.9rem !important;
}

.margin-7 {
  margin: 4.9rem !important;
}

.margin-left-7 {
  margin-left: 4.9rem !important;
}

.margin-right-7 {
  margin-right: 4.9rem !important;
}

.margin-top-7 {
  margin-top: 4.9rem !important;
}

.margin-bottom-7 {
  margin-bottom: 4.9rem !important;
}

.margin-horizontal-7 {
  margin-left: 4.9rem !important;
  margin-right: 4.9rem !important;
}

.margin-vertical-7 {
  margin-top: 4.9rem !important;
  margin-bottom: 4.9rem !important;
}

.width-7 {
  width: 28rem !important;
}

.height-7 {
  height: 28rem !important;
}

.min-width-7 {
  min-width: 28rem !important;
}

.min-height-7 {
  min-height: 28rem !important;
}

.max-width-7 {
  max-width: 28rem !important;
}

.max-height-7 {
  max-height: 28rem !important;
}

.width-d7 {
  width: 14rem !important;
}

.height-d7 {
  height: 14rem !important;
}

.min-width-d7 {
  min-width: 14rem !important;
}

.min-height-d7 {
  min-height: 14rem !important;
}

.max-width-d7 {
  max-width: 14rem !important;
}

.max-height-d7 {
  max-height: 14rem !important;
}

.width-v7 {
  width: 70vw !important;
}

.height-v7 {
  height: 70vw !important;
}

.min-width-v7 {
  min-width: 70vw !important;
}

.min-height-v7 {
  min-height: 70vw !important;
}

.max-width-v7 {
  max-width: 70vw !important;
}

.max-height-v7 {
  max-height: 70vw !important;
}

.padding-8 {
  padding: 5.6rem !important;
}

.padding-left-8 {
  padding-left: 5.6rem !important;
}

.padding-right-8 {
  padding-right: 5.6rem !important;
}

.padding-top-8 {
  padding-top: 5.6rem !important;
}

.padding-bottom-8 {
  padding-bottom: 5.6rem !important;
}

.padding-horizontal-8 {
  padding-left: 5.6rem;
  padding-right: 5.6rem;
}

.padding-vertical-8 {
  padding-top: 5.6rem !important;
  padding-bottom: 5.6rem !important;
}

.margin-8 {
  margin: 5.6rem !important;
}

.margin-left-8 {
  margin-left: 5.6rem !important;
}

.margin-right-8 {
  margin-right: 5.6rem !important;
}

.margin-top-8 {
  margin-top: 5.6rem !important;
}

.margin-bottom-8 {
  margin-bottom: 5.6rem !important;
}

.margin-horizontal-8 {
  margin-left: 5.6rem !important;
  margin-right: 5.6rem !important;
}

.margin-vertical-8 {
  margin-top: 5.6rem !important;
  margin-bottom: 5.6rem !important;
}

.width-8 {
  width: 32rem !important;
}

.height-8 {
  height: 32rem !important;
}

.min-width-8 {
  min-width: 32rem !important;
}

.min-height-8 {
  min-height: 32rem !important;
}

.max-width-8 {
  max-width: 32rem !important;
}

.max-height-8 {
  max-height: 32rem !important;
}

.width-d8 {
  width: 16rem !important;
}

.height-d8 {
  height: 16rem !important;
}

.min-width-d8 {
  min-width: 16rem !important;
}

.min-height-d8 {
  min-height: 16rem !important;
}

.max-width-d8 {
  max-width: 16rem !important;
}

.max-height-d8 {
  max-height: 16rem !important;
}

.width-v8 {
  width: 80vw !important;
}

.height-v8 {
  height: 80vw !important;
}

.min-width-v8 {
  min-width: 80vw !important;
}

.min-height-v8 {
  min-height: 80vw !important;
}

.max-width-v8 {
  max-width: 80vw !important;
}

.max-height-v8 {
  max-height: 80vw !important;
}

.padding-9 {
  padding: 6.3rem !important;
}

.padding-left-9 {
  padding-left: 6.3rem !important;
}

.padding-right-9 {
  padding-right: 6.3rem !important;
}

.padding-top-9 {
  padding-top: 6.3rem !important;
}

.padding-bottom-9 {
  padding-bottom: 6.3rem !important;
}

.padding-horizontal-9 {
  padding-left: 6.3rem;
  padding-right: 6.3rem;
}

.padding-vertical-9 {
  padding-top: 6.3rem !important;
  padding-bottom: 6.3rem !important;
}

.margin-9 {
  margin: 6.3rem !important;
}

.margin-left-9 {
  margin-left: 6.3rem !important;
}

.margin-right-9 {
  margin-right: 6.3rem !important;
}

.margin-top-9 {
  margin-top: 6.3rem !important;
}

.margin-bottom-9 {
  margin-bottom: 6.3rem !important;
}

.margin-horizontal-9 {
  margin-left: 6.3rem !important;
  margin-right: 6.3rem !important;
}

.margin-vertical-9 {
  margin-top: 6.3rem !important;
  margin-bottom: 6.3rem !important;
}

.width-9 {
  width: 36rem !important;
}

.height-9 {
  height: 36rem !important;
}

.min-width-9 {
  min-width: 36rem !important;
}

.min-height-9 {
  min-height: 36rem !important;
}

.max-width-9 {
  max-width: 36rem !important;
}

.max-height-9 {
  max-height: 36rem !important;
}

.width-d9 {
  width: 18rem !important;
}

.height-d9 {
  height: 18rem !important;
}

.min-width-d9 {
  min-width: 18rem !important;
}

.min-height-d9 {
  min-height: 18rem !important;
}

.max-width-d9 {
  max-width: 18rem !important;
}

.max-height-d9 {
  max-height: 18rem !important;
}

.width-v9 {
  width: 90vw !important;
}

.height-v9 {
  height: 90vw !important;
}

.min-width-v9 {
  min-width: 90vw !important;
}

.min-height-v9 {
  min-height: 90vw !important;
}

.max-width-v9 {
  max-width: 90vw !important;
}

.max-height-v9 {
  max-height: 90vw !important;
}

.padding-10 {
  padding: 7rem !important;
}

.padding-left-10 {
  padding-left: 7rem !important;
}

.padding-right-10 {
  padding-right: 7rem !important;
}

.padding-top-10 {
  padding-top: 7rem !important;
}

.padding-bottom-10 {
  padding-bottom: 7rem !important;
}

.padding-horizontal-10 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.padding-vertical-10 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.margin-10 {
  margin: 7rem !important;
}

.margin-left-10 {
  margin-left: 7rem !important;
}

.margin-right-10 {
  margin-right: 7rem !important;
}

.margin-top-10 {
  margin-top: 7rem !important;
}

.margin-bottom-10 {
  margin-bottom: 7rem !important;
}

.margin-horizontal-10 {
  margin-left: 7rem !important;
  margin-right: 7rem !important;
}

.margin-vertical-10 {
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}

.width-10 {
  width: 40rem !important;
}

.height-10 {
  height: 40rem !important;
}

.min-width-10 {
  min-width: 40rem !important;
}

.min-height-10 {
  min-height: 40rem !important;
}

.max-width-10 {
  max-width: 40rem !important;
}

.max-height-10 {
  max-height: 40rem !important;
}

.width-d10 {
  width: 20rem !important;
}

.height-d10 {
  height: 20rem !important;
}

.min-width-d10 {
  min-width: 20rem !important;
}

.min-height-d10 {
  min-height: 20rem !important;
}

.max-width-d10 {
  max-width: 20rem !important;
}

.max-height-d10 {
  max-height: 20rem !important;
}

.width-v10 {
  width: 100vw !important;
}

.height-v10 {
  height: 100vw !important;
}

.min-width-v10 {
  min-width: 100vw !important;
}

.min-height-v10 {
  min-height: 100vw !important;
}

.max-width-v10 {
  max-width: 100vw !important;
}

.max-height-v10 {
  max-height: 100vw !important;
}

.padding-d0 {
  padding: -0.35rem !important;
}

.padding-left-d0 {
  padding-left: -0.35rem !important;
}

.padding-right-d0 {
  padding-right: -0.35rem !important;
}

.padding-top-d0 {
  padding-top: -0.35rem !important;
}

.padding-bottom-d0 {
  padding-bottom: -0.35rem !important;
}

.padding-horizontal-d0 {
  padding-left: -0.35rem;
  padding-right: -0.35rem;
}

.padding-vertical-d0 {
  padding-top: -0.35rem !important;
  padding-bottom: -0.35rem !important;
}

.margin-d0 {
  margin: -0.35rem !important;
}

.margin-left-d0 {
  margin-left: -0.35rem !important;
}

.margin-right-0 {
  margin-right: -0.35rem !important;
}

.margin-top-d0 {
  margin-top: -0.35rem !important;
}

.margin-bottom-d0 {
  margin-bottom: -0.35rem !important;
}

.margin-horizontal-d0 {
  margin-left: -0.35rem !important;
  margin-right: -0.35rem !important;
}

.margin-vertical-d0 {
  margin-top: -0.35rem !important;
  margin-bottom: -0.35rem !important;
}

.width-d0 {
  width: -0.5rem !important;
}

.height-d0 {
  height: -0.5rem !important;
}

.min-width-0 {
  min-width: -0.5rem !important;
}

.min-height-0 {
  min-height: -0.5rem !important;
}

.max-width-0 {
  max-width: -0.5rem !important;
}

.max-height-0 {
  max-height: -0.5rem !important;
}

.width-vd0 {
  width: 0vw !important;
}

.height-vd0 {
  height: 0vw !important;
}

.min-width-vd0 {
  min-width: 0vw !important;
}

.min-height-vd0 {
  min-height: 0vw !important;
}

.max-width-vd0 {
  max-width: 0vw !important;
}

.max-height-vd0 {
  max-height: 0vw !important;
}

.padding-d1 {
  padding: 0.35rem !important;
}

.padding-left-d1 {
  padding-left: 0.35rem !important;
}

.padding-right-d1 {
  padding-right: 0.35rem !important;
}

.padding-top-d1 {
  padding-top: 0.35rem !important;
}

.padding-bottom-d1 {
  padding-bottom: 0.35rem !important;
}

.padding-horizontal-d1 {
  padding-left: 0.35rem;
  padding-right: 0.35rem;
}

.padding-vertical-d1 {
  padding-top: 0.35rem !important;
  padding-bottom: 0.35rem !important;
}

.margin-d1 {
  margin: 0.35rem !important;
}

.margin-left-d1 {
  margin-left: 0.35rem !important;
}

.margin-right-1 {
  margin-right: 0.35rem !important;
}

.margin-top-d1 {
  margin-top: 0.35rem !important;
}

.margin-bottom-d1 {
  margin-bottom: 0.35rem !important;
}

.margin-horizontal-d1 {
  margin-left: 0.35rem !important;
  margin-right: 0.35rem !important;
}

.margin-vertical-d1 {
  margin-top: 0.35rem !important;
  margin-bottom: 0.35rem !important;
}

.width-d1 {
  width: 1.5rem !important;
}

.height-d1 {
  height: 1.5rem !important;
}

.min-width-1 {
  min-width: 1.5rem !important;
}

.min-height-1 {
  min-height: 1.5rem !important;
}

.max-width-1 {
  max-width: 1.5rem !important;
}

.max-height-1 {
  max-height: 1.5rem !important;
}

.width-vd1 {
  width: 5vw !important;
}

.height-vd1 {
  height: 5vw !important;
}

.min-width-vd1 {
  min-width: 5vw !important;
}

.min-height-vd1 {
  min-height: 5vw !important;
}

.max-width-vd1 {
  max-width: 5vw !important;
}

.max-height-vd1 {
  max-height: 5vw !important;
}

.padding-d2 {
  padding: 1.05rem !important;
}

.padding-left-d2 {
  padding-left: 1.05rem !important;
}

.padding-right-d2 {
  padding-right: 1.05rem !important;
}

.padding-top-d2 {
  padding-top: 1.05rem !important;
}

.padding-bottom-d2 {
  padding-bottom: 1.05rem !important;
}

.padding-horizontal-d2 {
  padding-left: 1.05rem;
  padding-right: 1.05rem;
}

.padding-vertical-d2 {
  padding-top: 1.05rem !important;
  padding-bottom: 1.05rem !important;
}

.margin-d2 {
  margin: 1.05rem !important;
}

.margin-left-d2 {
  margin-left: 1.05rem !important;
}

.margin-right-2 {
  margin-right: 1.05rem !important;
}

.margin-top-d2 {
  margin-top: 1.05rem !important;
}

.margin-bottom-d2 {
  margin-bottom: 1.05rem !important;
}

.margin-horizontal-d2 {
  margin-left: 1.05rem !important;
  margin-right: 1.05rem !important;
}

.margin-vertical-d2 {
  margin-top: 1.05rem !important;
  margin-bottom: 1.05rem !important;
}

.width-d2 {
  width: 3.5rem !important;
}

.height-d2 {
  height: 3.5rem !important;
}

.min-width-2 {
  min-width: 3.5rem !important;
}

.min-height-2 {
  min-height: 3.5rem !important;
}

.max-width-2 {
  max-width: 3.5rem !important;
}

.max-height-2 {
  max-height: 3.5rem !important;
}

.width-vd2 {
  width: 10vw !important;
}

.height-vd2 {
  height: 10vw !important;
}

.min-width-vd2 {
  min-width: 10vw !important;
}

.min-height-vd2 {
  min-height: 10vw !important;
}

.max-width-vd2 {
  max-width: 10vw !important;
}

.max-height-vd2 {
  max-height: 10vw !important;
}

.padding-d3 {
  padding: 1.75rem !important;
}

.padding-left-d3 {
  padding-left: 1.75rem !important;
}

.padding-right-d3 {
  padding-right: 1.75rem !important;
}

.padding-top-d3 {
  padding-top: 1.75rem !important;
}

.padding-bottom-d3 {
  padding-bottom: 1.75rem !important;
}

.padding-horizontal-d3 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.padding-vertical-d3 {
  padding-top: 1.75rem !important;
  padding-bottom: 1.75rem !important;
}

.margin-d3 {
  margin: 1.75rem !important;
}

.margin-left-d3 {
  margin-left: 1.75rem !important;
}

.margin-right-3 {
  margin-right: 1.75rem !important;
}

.margin-top-d3 {
  margin-top: 1.75rem !important;
}

.margin-bottom-d3 {
  margin-bottom: 1.75rem !important;
}

.margin-horizontal-d3 {
  margin-left: 1.75rem !important;
  margin-right: 1.75rem !important;
}

.margin-vertical-d3 {
  margin-top: 1.75rem !important;
  margin-bottom: 1.75rem !important;
}

.width-d3 {
  width: 5.5rem !important;
}

.height-d3 {
  height: 5.5rem !important;
}

.min-width-3 {
  min-width: 5.5rem !important;
}

.min-height-3 {
  min-height: 5.5rem !important;
}

.max-width-3 {
  max-width: 5.5rem !important;
}

.max-height-3 {
  max-height: 5.5rem !important;
}

.width-vd3 {
  width: 15vw !important;
}

.height-vd3 {
  height: 15vw !important;
}

.min-width-vd3 {
  min-width: 15vw !important;
}

.min-height-vd3 {
  min-height: 15vw !important;
}

.max-width-vd3 {
  max-width: 15vw !important;
}

.max-height-vd3 {
  max-height: 15vw !important;
}

.padding-d4 {
  padding: 2.45rem !important;
}

.padding-left-d4 {
  padding-left: 2.45rem !important;
}

.padding-right-d4 {
  padding-right: 2.45rem !important;
}

.padding-top-d4 {
  padding-top: 2.45rem !important;
}

.padding-bottom-d4 {
  padding-bottom: 2.45rem !important;
}

.padding-horizontal-d4 {
  padding-left: 2.45rem;
  padding-right: 2.45rem;
}

.padding-vertical-d4 {
  padding-top: 2.45rem !important;
  padding-bottom: 2.45rem !important;
}

.margin-d4 {
  margin: 2.45rem !important;
}

.margin-left-d4 {
  margin-left: 2.45rem !important;
}

.margin-right-4 {
  margin-right: 2.45rem !important;
}

.margin-top-d4 {
  margin-top: 2.45rem !important;
}

.margin-bottom-d4 {
  margin-bottom: 2.45rem !important;
}

.margin-horizontal-d4 {
  margin-left: 2.45rem !important;
  margin-right: 2.45rem !important;
}

.margin-vertical-d4 {
  margin-top: 2.45rem !important;
  margin-bottom: 2.45rem !important;
}

.width-d4 {
  width: 7.5rem !important;
}

.height-d4 {
  height: 7.5rem !important;
}

.min-width-4 {
  min-width: 7.5rem !important;
}

.min-height-4 {
  min-height: 7.5rem !important;
}

.max-width-4 {
  max-width: 7.5rem !important;
}

.max-height-4 {
  max-height: 7.5rem !important;
}

.width-vd4 {
  width: 20vw !important;
}

.height-vd4 {
  height: 20vw !important;
}

.min-width-vd4 {
  min-width: 20vw !important;
}

.min-height-vd4 {
  min-height: 20vw !important;
}

.max-width-vd4 {
  max-width: 20vw !important;
}

.max-height-vd4 {
  max-height: 20vw !important;
}

.padding-d5 {
  padding: 3.15rem !important;
}

.padding-left-d5 {
  padding-left: 3.15rem !important;
}

.padding-right-d5 {
  padding-right: 3.15rem !important;
}

.padding-top-d5 {
  padding-top: 3.15rem !important;
}

.padding-bottom-d5 {
  padding-bottom: 3.15rem !important;
}

.padding-horizontal-d5 {
  padding-left: 3.15rem;
  padding-right: 3.15rem;
}

.padding-vertical-d5 {
  padding-top: 3.15rem !important;
  padding-bottom: 3.15rem !important;
}

.margin-d5 {
  margin: 3.15rem !important;
}

.margin-left-d5 {
  margin-left: 3.15rem !important;
}

.margin-right-5 {
  margin-right: 3.15rem !important;
}

.margin-top-d5 {
  margin-top: 3.15rem !important;
}

.margin-bottom-d5 {
  margin-bottom: 3.15rem !important;
}

.margin-horizontal-d5 {
  margin-left: 3.15rem !important;
  margin-right: 3.15rem !important;
}

.margin-vertical-d5 {
  margin-top: 3.15rem !important;
  margin-bottom: 3.15rem !important;
}

.width-d5 {
  width: 9.5rem !important;
}

.height-d5 {
  height: 9.5rem !important;
}

.min-width-5 {
  min-width: 9.5rem !important;
}

.min-height-5 {
  min-height: 9.5rem !important;
}

.max-width-5 {
  max-width: 9.5rem !important;
}

.max-height-5 {
  max-height: 9.5rem !important;
}

.width-vd5 {
  width: 25vw !important;
}

.height-vd5 {
  height: 25vw !important;
}

.min-width-vd5 {
  min-width: 25vw !important;
}

.min-height-vd5 {
  min-height: 25vw !important;
}

.max-width-vd5 {
  max-width: 25vw !important;
}

.max-height-vd5 {
  max-height: 25vw !important;
}

.padding-d6 {
  padding: 3.85rem !important;
}

.padding-left-d6 {
  padding-left: 3.85rem !important;
}

.padding-right-d6 {
  padding-right: 3.85rem !important;
}

.padding-top-d6 {
  padding-top: 3.85rem !important;
}

.padding-bottom-d6 {
  padding-bottom: 3.85rem !important;
}

.padding-horizontal-d6 {
  padding-left: 3.85rem;
  padding-right: 3.85rem;
}

.padding-vertical-d6 {
  padding-top: 3.85rem !important;
  padding-bottom: 3.85rem !important;
}

.margin-d6 {
  margin: 3.85rem !important;
}

.margin-left-d6 {
  margin-left: 3.85rem !important;
}

.margin-right-6 {
  margin-right: 3.85rem !important;
}

.margin-top-d6 {
  margin-top: 3.85rem !important;
}

.margin-bottom-d6 {
  margin-bottom: 3.85rem !important;
}

.margin-horizontal-d6 {
  margin-left: 3.85rem !important;
  margin-right: 3.85rem !important;
}

.margin-vertical-d6 {
  margin-top: 3.85rem !important;
  margin-bottom: 3.85rem !important;
}

.width-d6 {
  width: 11.5rem !important;
}

.height-d6 {
  height: 11.5rem !important;
}

.min-width-6 {
  min-width: 11.5rem !important;
}

.min-height-6 {
  min-height: 11.5rem !important;
}

.max-width-6 {
  max-width: 11.5rem !important;
}

.max-height-6 {
  max-height: 11.5rem !important;
}

.width-vd6 {
  width: 30vw !important;
}

.height-vd6 {
  height: 30vw !important;
}

.min-width-vd6 {
  min-width: 30vw !important;
}

.min-height-vd6 {
  min-height: 30vw !important;
}

.max-width-vd6 {
  max-width: 30vw !important;
}

.max-height-vd6 {
  max-height: 30vw !important;
}

.padding-d7 {
  padding: 4.55rem !important;
}

.padding-left-d7 {
  padding-left: 4.55rem !important;
}

.padding-right-d7 {
  padding-right: 4.55rem !important;
}

.padding-top-d7 {
  padding-top: 4.55rem !important;
}

.padding-bottom-d7 {
  padding-bottom: 4.55rem !important;
}

.padding-horizontal-d7 {
  padding-left: 4.55rem;
  padding-right: 4.55rem;
}

.padding-vertical-d7 {
  padding-top: 4.55rem !important;
  padding-bottom: 4.55rem !important;
}

.margin-d7 {
  margin: 4.55rem !important;
}

.margin-left-d7 {
  margin-left: 4.55rem !important;
}

.margin-right-7 {
  margin-right: 4.55rem !important;
}

.margin-top-d7 {
  margin-top: 4.55rem !important;
}

.margin-bottom-d7 {
  margin-bottom: 4.55rem !important;
}

.margin-horizontal-d7 {
  margin-left: 4.55rem !important;
  margin-right: 4.55rem !important;
}

.margin-vertical-d7 {
  margin-top: 4.55rem !important;
  margin-bottom: 4.55rem !important;
}

.width-d7 {
  width: 13.5rem !important;
}

.height-d7 {
  height: 13.5rem !important;
}

.min-width-7 {
  min-width: 13.5rem !important;
}

.min-height-7 {
  min-height: 13.5rem !important;
}

.max-width-7 {
  max-width: 13.5rem !important;
}

.max-height-7 {
  max-height: 13.5rem !important;
}

.width-vd7 {
  width: 35vw !important;
}

.height-vd7 {
  height: 35vw !important;
}

.min-width-vd7 {
  min-width: 35vw !important;
}

.min-height-vd7 {
  min-height: 35vw !important;
}

.max-width-vd7 {
  max-width: 35vw !important;
}

.max-height-vd7 {
  max-height: 35vw !important;
}

.padding-d8 {
  padding: 5.25rem !important;
}

.padding-left-d8 {
  padding-left: 5.25rem !important;
}

.padding-right-d8 {
  padding-right: 5.25rem !important;
}

.padding-top-d8 {
  padding-top: 5.25rem !important;
}

.padding-bottom-d8 {
  padding-bottom: 5.25rem !important;
}

.padding-horizontal-d8 {
  padding-left: 5.25rem;
  padding-right: 5.25rem;
}

.padding-vertical-d8 {
  padding-top: 5.25rem !important;
  padding-bottom: 5.25rem !important;
}

.margin-d8 {
  margin: 5.25rem !important;
}

.margin-left-d8 {
  margin-left: 5.25rem !important;
}

.margin-right-8 {
  margin-right: 5.25rem !important;
}

.margin-top-d8 {
  margin-top: 5.25rem !important;
}

.margin-bottom-d8 {
  margin-bottom: 5.25rem !important;
}

.margin-horizontal-d8 {
  margin-left: 5.25rem !important;
  margin-right: 5.25rem !important;
}

.margin-vertical-d8 {
  margin-top: 5.25rem !important;
  margin-bottom: 5.25rem !important;
}

.width-d8 {
  width: 15.5rem !important;
}

.height-d8 {
  height: 15.5rem !important;
}

.min-width-8 {
  min-width: 15.5rem !important;
}

.min-height-8 {
  min-height: 15.5rem !important;
}

.max-width-8 {
  max-width: 15.5rem !important;
}

.max-height-8 {
  max-height: 15.5rem !important;
}

.width-vd8 {
  width: 40vw !important;
}

.height-vd8 {
  height: 40vw !important;
}

.min-width-vd8 {
  min-width: 40vw !important;
}

.min-height-vd8 {
  min-height: 40vw !important;
}

.max-width-vd8 {
  max-width: 40vw !important;
}

.max-height-vd8 {
  max-height: 40vw !important;
}

.padding-d9 {
  padding: 5.95rem !important;
}

.padding-left-d9 {
  padding-left: 5.95rem !important;
}

.padding-right-d9 {
  padding-right: 5.95rem !important;
}

.padding-top-d9 {
  padding-top: 5.95rem !important;
}

.padding-bottom-d9 {
  padding-bottom: 5.95rem !important;
}

.padding-horizontal-d9 {
  padding-left: 5.95rem;
  padding-right: 5.95rem;
}

.padding-vertical-d9 {
  padding-top: 5.95rem !important;
  padding-bottom: 5.95rem !important;
}

.margin-d9 {
  margin: 5.95rem !important;
}

.margin-left-d9 {
  margin-left: 5.95rem !important;
}

.margin-right-9 {
  margin-right: 5.95rem !important;
}

.margin-top-d9 {
  margin-top: 5.95rem !important;
}

.margin-bottom-d9 {
  margin-bottom: 5.95rem !important;
}

.margin-horizontal-d9 {
  margin-left: 5.95rem !important;
  margin-right: 5.95rem !important;
}

.margin-vertical-d9 {
  margin-top: 5.95rem !important;
  margin-bottom: 5.95rem !important;
}

.width-d9 {
  width: 17.5rem !important;
}

.height-d9 {
  height: 17.5rem !important;
}

.min-width-9 {
  min-width: 17.5rem !important;
}

.min-height-9 {
  min-height: 17.5rem !important;
}

.max-width-9 {
  max-width: 17.5rem !important;
}

.max-height-9 {
  max-height: 17.5rem !important;
}

.width-vd9 {
  width: 45vw !important;
}

.height-vd9 {
  height: 45vw !important;
}

.min-width-vd9 {
  min-width: 45vw !important;
}

.min-height-vd9 {
  min-height: 45vw !important;
}

.max-width-vd9 {
  max-width: 45vw !important;
}

.max-height-vd9 {
  max-height: 45vw !important;
}

.padding-d10 {
  padding: 6.65rem !important;
}

.padding-left-d10 {
  padding-left: 6.65rem !important;
}

.padding-right-d10 {
  padding-right: 6.65rem !important;
}

.padding-top-d10 {
  padding-top: 6.65rem !important;
}

.padding-bottom-d10 {
  padding-bottom: 6.65rem !important;
}

.padding-horizontal-d10 {
  padding-left: 6.65rem;
  padding-right: 6.65rem;
}

.padding-vertical-d10 {
  padding-top: 6.65rem !important;
  padding-bottom: 6.65rem !important;
}

.margin-d10 {
  margin: 6.65rem !important;
}

.margin-left-d10 {
  margin-left: 6.65rem !important;
}

.margin-right-10 {
  margin-right: 6.65rem !important;
}

.margin-top-d10 {
  margin-top: 6.65rem !important;
}

.margin-bottom-d10 {
  margin-bottom: 6.65rem !important;
}

.margin-horizontal-d10 {
  margin-left: 6.65rem !important;
  margin-right: 6.65rem !important;
}

.margin-vertical-d10 {
  margin-top: 6.65rem !important;
  margin-bottom: 6.65rem !important;
}

.width-d10 {
  width: 19.5rem !important;
}

.height-d10 {
  height: 19.5rem !important;
}

.min-width-10 {
  min-width: 19.5rem !important;
}

.min-height-10 {
  min-height: 19.5rem !important;
}

.max-width-10 {
  max-width: 19.5rem !important;
}

.max-height-10 {
  max-height: 19.5rem !important;
}

.width-vd10 {
  width: 50vw !important;
}

.height-vd10 {
  height: 50vw !important;
}

.min-width-vd10 {
  min-width: 50vw !important;
}

.min-height-vd10 {
  min-height: 50vw !important;
}

.max-width-vd10 {
  max-width: 50vw !important;
}

.max-height-vd10 {
  max-height: 50vw !important;
}
