.modal {
  position: absolute;
  display: inline-block;
  z-index: 104;
  min-width: 70%;
  max-width: 92%;
  top: 3rem;

  // left: calc(50% - 92%);

  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid @divider-color;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.fullback {
  clear: both;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  transition: all 0.2s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.fullback-window {
  clear: both;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 50;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  transition: all 0.2s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.z-index-101 {
  position: relative !important;
  z-index: 101 !important;

  * {
    z-index: 101 !important;
  }
}

.z-index-200 {
  position: relative !important;
  z-index: 200 !important;
}

@divider-color: #ddd;

.popup {
  background: #fff;
  position: absolute;
  border-radius: 0.25rem;
  border: 1px solid @divider-color;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  // min-width: 18rem;
  // max-width: 40rem;
  // display: inline-block;

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
  z-index: 102;

  @media screen and (max-width: @mobile) {
    width: 300px;
    max-width: 300px;
  }
  @media screen and (min-width: @mobile) and (max-width: @tablet) {
    width: 400px;
    max-width: 400px;
  }
  @media screen and (min-width: @tablet) and (max-width: @pc) {
    width: 400px;
    max-width: 400px;
  }
  @media screen and (min-width: @pc) and (max-width: @ultra) {
    width: 400px;
    max-width: 400px;
  }
  @media screen and (min-width: @ultra) {
    width: 400px;
    max-width: 400px;
  }
}

.popup .barrow.right {
  content: "";
  display: block;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid @divider-color;
  position: absolute;
  left: -9px;
  // margin-top: -9px;
}

.popup .farrow.right {
  content: "";
  display: block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  position: absolute;
  left: -8px;
  // margin-top: -8px;
}

.popup .barrow.left {
  content: "";
  display: block;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid @divider-color;
  position: absolute;
  right: -9px;
  // margin-top: -9px;
}

.popup .farrow.left {
  content: "";
  display: block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  position: absolute;
  right: -8px;
  // margin-top: -8px;
}

.popup .barrow.bottom {
  content: "";
  display: block;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid @divider-color;
  position: absolute;
  top: -9px;
  // margin-left: -9px;
}

.popup .farrow.bottom {
  content: "";
  display: block;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -8px;
  // margin-left: -8px;
}

.popup .barrow.top {
  content: "";
  display: block;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid @divider-color;
  position: absolute;
  bottom: -9px;
  // margin-left: -9px;
}

.popup .farrow.top {
  content: "";
  display: block;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  position: absolute;
  bottom: -8px;
  // margin-left: -8px;
}
