@import "normalize.less";
@import "font.less";
@import "font-awesome.css";
@import "padding.css";
@import "transition.less";
@import "transition-route.less";
@import "popup.less";
@import "loading.less";

@border-color: #ddd;
@white-color: #fff;
@lighter-color: #f6f6f6;
@ultra-lighter-color: #fafafa;
@darker-color: #e3e3e3;
@shadow-color: #eee;
@disabled-color: #f6f6f6;
@active-color: #369aff;
@active-lighter-color: #74b8ff;
@red-color: #ff3636;
@blue-color: #36a4ff;

@font-color: #333;
@font-color-link: #006FDE;
@font-color-inverted: #fff;
@font-color-disabled: #666;
@font-color-more-disabled: #999;
@font-color-error: #fc5f5f;

@mobile: 600px;
@tablet: 1000px;
@pc: 1600px;
@ultra: 2000px;

body {
  font-family: "NeoSansProRegular";
  font-size: 1rem;
  line-height: 1.4rem;
  color: @font-color;
  min-height: 100vh;
}

.font-small {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.app {
  min-height: 100vh;
}

* {
  vertical-align: top;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.selectable {
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -o-user-select: auto;
  user-select: auto;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.transition {
  transition-property: background-color, color;
  transition-duration: 0.2s;
  will-change: background-color, color;
}

#view-server {
  display: inline-block;
  // position: relative;
}

#props {
  display: none;
}

p {
  margin: 0;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  p + & {
    margin-top: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:not(.item):not(.header), .a {
  .unselectable;
  display: inline-block;
  cursor: pointer;
  color: @font-color-link;

  transition-property: opacity, background-color, box-shadow;
  transition-duration: 0.2s;
  will-change: opacity, background-color, box-shadow;

  &:hover, &:hover, &:focus  {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
    text-underline-position: 2px;
    text-decoration: underline;
  }

  &:active, &.active  {
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.02);
    opacity: 0.5;
  }
}

.container {
  position: relative;

  &.block {
    display: block;
  }

  width: 100%;

  &.p90 {
    width: 90%;
  }

  &.p95 {
    width: 95%;
  }

  @media screen and (max-width: @mobile) {
    width: 100%;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.absolute {
  position: absolute;

  &.top {
    top: 0;
  }

  &.right {
    right: 0;
  }

  &.bottom {
    bottom: 0;
  }

  &.left {
    left: 0;
  }
}

.inlines {
  & > * {
    display: inline-block !important;
  }

  &.strict {
    & > *:first-child:nth-last-child(1) {
      width: 100%;
    }

    /* two items */
    & > *:first-child:nth-last-child(2),
    & > *:first-child:nth-last-child(2) ~ * {
      width: 50%;
    }

    /* three items */
    & > *:first-child:nth-last-child(3),
    & > *:first-child:nth-last-child(3) ~ * {
      width: 33.3333%;
    }

    /* four items */
    & > *:first-child:nth-last-child(4),
    & > *:first-child:nth-last-child(4) ~ * {
      width: 25%;
    }

    /* five items */
    & > *:first-child:nth-last-child(5),
    & > *:first-child:nth-last-child(5) ~ * {
      width: 20%;
    }
  }
}

.top-menu {
  margin-top: 1rem;

  border-spacing: 1rem 0;

  .items-desktop, .items-mobile {
    display: table-cell;
    width: auto;
    white-space: nowrap;
  }

  * {
    .unselectable;
  }

  .item, .header {
    display: table-cell;
    width: auto;
    white-space: nowrap;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    * {
      pointer-events: none;
    }

    .fa {
      margin-right: 0.3rem;
      font-size: 1rem;
      line-height: 1.4rem;
      vertical-align: baseline;
    }
  }

  .space {
    display: table-cell;
    width: 100%;
  }

  .header {
    cursor: default;

    font-size: 1.2rem;
    padding-right: 1.4rem;
    line-height: 1.4rem;
  }

  a.header {
    cursor: pointer;
  }

  .item {
    cursor: pointer;
    border-radius: 0.6rem;

    .transition;
  }

  .item:hover, .item:hover, .item:focus  {
    background-color: @shadow-color;
  }

  .item:active, .item.active  {
    background-color: @active-color;
    color: @font-color-inverted;
    // transform: translateY(1.5px);
  }

  .items-mobile {
    display: none;
  }

  @media screen and (max-width: 50rem) {
    width: calc(100%);

    .items-desktop {
      display: none;
    }

    .items-mobile {
      display: table-cell;
    }
  }
}

.popup-menu {
  .item {
    cursor: pointer;

    .transition;

    display: block;
    width: 100%;
    white-space: nowrap;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    .fa {
      margin-right: 0.3rem;
      font-size: 1rem;
      line-height: 1.4rem;
      vertical-align: baseline;
    }
  }

  .item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .item:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .item:hover, .item:hover, .item:focus  {
    background-color: @shadow-color;
  }

  .item:active, .item.active  {
    background-color: @active-color;
    color: @font-color-inverted;
    // transform: translateY(1.5px);
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 8rem;
}

.scrollable {
  &.horizontal {
    overflow-x: auto;
    max-width: 100%;
  }
}

.table {
  display: table;
  width: 100%;
  // overflow-x: auto;
  // overflow-y: visible;
  // padding-left: 1rem;
  // padding-right: 1rem;

  tr, td {
    .transition;
  }

  thead {
    td:not(:first-child) {
      background-color: @shadow-color;
      border: 1px solid @border-color;
    }

    td.pointer:not(:first-child):hover, td.pointer:not(:first-child):focus {
      background-color: @border-color;
    }

    td.pointer:not(:first-child):active, td.pointer:not(:first-child).active {
      background-color: @active-color;
      color: @font-color-inverted;
    }

    td {
      white-space: nowrap;

      .fa {
        // font-size: 1rem;
        // line-height: 1rem;

        float: right;
      }
    }

    // td:first-child {
    //   border-top-left-radius: 0.3rem;
    // }
    //
    // td:last-child {
    //   border-top-right-radius: 0.3rem;
    // }
  }

  tbody {
    // position: relative;

    tr:nth-child(2n) {
      background-color: @lighter-color;
    }

    tr:nth-child(2n+1) {
      background-color: @white-color;
    }

    tr:hover, tr:focus {
      background-color: @shadow-color;
    }

    td {
      border: 1px solid @border-color;
    }

    // tr:last-child {
    //   td:first-child {
    //     border-bottom-left-radius: 0.3rem;
    //   }
    //
    //   td:last-child {
    //     border-bottom-right-radius: 0.3rem;
    //   }
    // }
  }

  td {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    // font-size: 1rem;
    // line-height: 1rem;

    * {
      vertical-align: middle;
    }
  }

  td.width-1 {
    width: 1px;
  }

  td.type-1 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    font-size: 1rem;
    line-height: 1rem;
  }
}

.accord-header {
  .unselectable;

  .transition;

  .fa {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }

  &:hover, &:focus {
    background-color: @shadow-color;
  }

  &:active, &.active {
    background-color: @active-color;
    color: @font-color-inverted;
  }
}

.box {
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;

  &.big {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.95rem;
    padding-bottom: 0.6rem;
  }
}

.buttons {
  white-space: nowrap;

  .unselectable;

  & > * {
    position: relative;
    display: inline-block;

    .box;
    height: 2.8rem;

    border: 1px solid @border-color;

    .transition;

    &.red {
      background-color: @red-color;
      color: @font-color-inverted;

      border: 1px solid @red-color;
    }

    &.blue {
      background-color: @blue-color;
      color: @font-color-inverted;

      border: 1px solid @blue-color;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';

      opacity: 0;

      transition-property: opacity;
      transition-duration: 0.3s;
      will-change: opacity;
    }

    &.load, &[loading="true"] {
      color: transparent;

      border: 1px solid @blue-color;
      overflow: auto;

      &:after {
        opacity: 1;
        background-size: 100px 100px;
        background-image: linear-gradient(-45deg, #33c9ff 25%, #00b2f2 25%, #00b2f2 50%, #33c9ff 50%, #33c9ff 75%, #00b2f2 75%);
        animation: anim 1s linear infinite;
      }
    }
  }

  &.big {
    font-size: 1.1rem;

    & > * {
      .box.big;
      height: 3.2rem;
      font-size: 1.1rem;
    }
  }

  & > *:last-child {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }

  & > *:not(:last-child) {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }

  & > *:first-child {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  & > *:not(:first-child) {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }

  & > * + *:not(:last-child) {
    border-left: 0px solid @border-color;
  }

  & > *:not(.disabled):not(.load):not([loading="true"]) {
    cursor: pointer;
  }

  & > *:not(input):not(.disabled):not(.load):not([loading="true"]):hover, & > *:not(input):not(.load):not([loading="true"]):not(.disabled):focus {
    background-color: @border-color;

    &.red {
      background-color: lighten(@red-color, 10%);
      color: @font-color-inverted;

      border-color: lighten(@red-color, 10%);
    }

    &.blue {
      background-color: lighten(@blue-color, 10%);
      color: @font-color-inverted;

      border-color: lighten(@blue-color, 10%);
    }
  }

  & > *:not(input):not(.disabled):not(.load):not([loading="true"]):active, & > *:not(input):not(.disabled):not(.load):not([loading="true"]).active {
    border-color: @active-color;
    background-color: @active-color;
    color: @font-color-inverted;

    &.red {
      background-color: darken(@red-color, 20%);
      // color: @font-color;
      border-color: darken(@red-color, 20%);
    }

    &.blue {
      background-color: darken(@blue-color, 20%);
      // color: @font-color;
      border-color: darken(@blue-color, 20%);
    }
  }

  & > *:not(.disabled):not(.load):not([loading="true"]):active + *:not(input), & > *:not(.disabled):not(.load):not([loading="true"]).active + *:not(input) {
    border-left-color: @active-color;
  }

  & > *:not(input).disabled {
    background-color: @shadow-color;
    color: inherit;
  }

  & > *:not(input).disabled:not(.active) {
    background-color: @disabled-color;
    color: @font-color-disabled;
  }
}

.chat {
  max-height: 150px;
  overflow: auto;
  position: relative;

  .wrap {
    display: table;
    width: 100%;

    .cell {
      display: table-cell;
      vertical-align: bottom;

      & > * {
        display: block;
      }
    }
  }
}

.input-label {
  width: auto;
  max-width: 15rem;

  &.wide {
    width: 20rem;
    max-width: 20rem;
  }

  &.widefull {
    width: 90%;
    max-width: 90%;
  }
}

input[type=text], input[type=password], input[type=email], textarea {
  width: auto;
  min-width: 15rem;
  max-width: 100%;
  width: 15rem;

  &:not(textarea) {
    height: 2.8rem;
  }

  font-size: 1.0rem;

  .box;

  outline: none;

  border: 1px solid @border-color;
  border-radius: 0.2rem;
  background-color: @ultra-lighter-color;

  transition-property: box-shadow, border, background-color;
  transition-duration: 0.3s;
  will-change: box-shadow, border, background-color;

  &:focus {
    box-shadow: 0 0 1rem @active-color;
    border: 1px solid @active-lighter-color;
    background-color: @white-color;
  }

  &.error {
    border: 1px solid @red-color;

    &:focus {
      box-shadow: 0 0 1rem @red-color;
      border: 1px solid @red-color;
      background-color: @white-color;
    }
  }

  &:placeholder-shown {
    font-size: 0.9rem;
    // line-height: 0.8rem;
  }

  &.wide {
    width: 20rem;
  }

  &.widefull {
    width: 90%;
  }
}

.text {
  &.error {
    color: @font-color-error;
  }

  &.sub {
    color: @font-color-disabled;
  }

  &.subsub {
    color: @font-color-more-disabled;
  }

  &.mini {
    font-size: 0.9rem;
  }

  &.minicro {
    font-size: 0.8rem;
  }
}

.editor {
  display: block;

  white-space: pre;

  .box;

  outline: none;

  border: 1px solid @border-color;
  border-radius: 0.2rem;
  background-color: @ultra-lighter-color;

  transition-property: box-shadow, border, background-color;
  transition-duration: 0.3s;
  will-change: box-shadow, border, background-color;

  &:focus {
    box-shadow: 0 0 1rem @active-color;
    border: 1px solid @active-lighter-color;
    background-color: @white-color;
  }

  &:empty:before {
    color: @font-color-disabled;
    content: attr(placeholder);
    display: block;
  }

  &:not(:disabled) {
    a {
      .selectable;
      cursor: text;
    }
  }

  span, a {
    display: inline-block;
    white-space: normal;
  }

  div {
    display: block;
    width: 100%;
    white-space: pre;
  }

  div + div {
    margin-top: 0.5rem;
  }

  img {
    display: block;
    width: 100%;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    white-space: pre;
  }

  .underline {
    text-decoration: underline;
  }

  .overline {
    text-decoration: overline;
  }

  .bold {
    font-weight: bold;
  }

  .header {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  .bigheader {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .italic {
    font-style: italic;
  }

  .mini {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .code {
    font-family: monospace;
  }
}

.notifications {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  padding: 1.0rem;
  overflow: hidden;

  * {
    content: '';
  }

  .notification {
    overflow: hidden;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;;
    z-index: 50;
    pointer-events: all;
    cursor: pointer;
    display: block;
    width: auto;
    max-width: 25rem;
    background: #fff;
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
