.route-fade-enter {
  opacity: 0;
  position: absolute;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.route-fade-enter.route-fade-enter-active {
  opacity: 1;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.route-fade-leave {
  opacity: 1;
  position: absolute;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.route-fade-leave.route-fade-leave-active {
  opacity: 0;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.route-fade-appear {
  opacity: 0;
  position: absolute;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.route-fade-appear.route-fade-appear-active {
  opacity: 1;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.route-fade-scale-enter {
  opacity: 0;
  transform: scale(0.9, 0.9);
  position: absolute;
  top: 0;

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.route-fade-scale-enter.route-fade-scale-enter-active {
  opacity: 1;
  transform: scale(1.0, 1.0);

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.route-fade-scale-leave {
  opacity: 1;
  transform: scale(1.0, 1.0);
  position: absolute;
  top: 0;

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.route-fade-scale-leave.route-fade-scale-leave-active {
  opacity: 0;
  transform: scale(0.9, 0.9);

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.route-fade-scale-appear {
  opacity: 0;
  transform: scale(0.9, 0.9);
  position: absolute;
  top: 0;

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.route-fade-scale-appear.route-fade-scale-appear-active {
  opacity: 1;
  transform: scale(1.0, 1.0);

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}
