.fade-alt-enter {
  background-color: transparent;
  color: transparent;
  border-color: transparent;

  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
}

.fade-alt-enter.fade-alt-enter-active {
  // opacity: 1;

  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
}

.fade-alt-leave {
  // opacity: 1;

  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
}

.fade-alt-leave.fade-alt-leave-active {
  background-color: transparent;
  color: transparent;
  border-color: transparent;

  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
}

.fade-alt-appear {
  background-color: transparent;
  color: transparent;
  border-color: transparent;

  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
}

.fade-alt-appear.fade-alt-appear-active {
  // opacity: 1;

  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
}



.fade-enter {
  opacity: 0;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.fade-enter.fade-enter-active {
  opacity: 1;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.fade-leave {
  opacity: 1;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.fade-leave.fade-leave-active {
  opacity: 0;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.fade-appear {
  opacity: 0;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.fade-appear.fade-appear-active {
  opacity: 1;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.fade-scale-enter {
  opacity: 0;
  transform: scale(0.9, 0.9);

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.fade-scale-enter.fade-scale-enter-active {
  opacity: 1;
  transform: scale(1.0, 1.0);

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.fade-scale-leave {
  opacity: 1;
  transform: scale(1.0, 1.0);

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.fade-scale-leave.fade-scale-leave-active {
  opacity: 0;
  transform: scale(0.9, 0.9);

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.fade-scale-appear {
  opacity: 0;
  transform: scale(0.9, 0.9);

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.fade-scale-appear.fade-scale-appear-active {
  opacity: 1;
  transform: scale(1.0, 1.0);

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.fade-scale-height-enter {
  opacity: 0;
  transform: scale(0.9, 0.9);
  max-height: 0;
  overflow: hidden;

  transition-property: opacity, transform, max-height;
  transition-duration: 0.3s;
}

.fade-scale-height-enter.fade-scale-height-enter-active {
  opacity: 1;
  transform: scale(1.0, 1.0);
  max-height: auto;
  overflow: hidden;

  transition-property: opacity, transform, max-height;
  transition-duration: 0.3s;
}

.fade-scale-height-leave {
  opacity: 1;
  transform: scale(1.0, 1.0);
  max-height: auto;
  overflow: hidden;

  transition-property: opacity, transform, max-height;
  transition-duration: 0.3s;
}

.fade-scale-height-leave.fade-scale-height-leave-active {
  opacity: 0;
  transform: scale(0.9, 0.9);
  max-height: 0;
  overflow: hidden;

  transition-property: opacity, transform, max-height;
  transition-duration: 0.3s;
}

.fade-scale-height-appear {
  opacity: 0;
  transform: scale(0.9, 0.9);
  max-height: 0;
  overflow: hidden;

  transition-property: opacity, transform, max-height;
  transition-duration: 0.3s;
}

.fade-scale-height-appear.fade-scale-height-appear-active {
  opacity: 1;
  transform: scale(1.0, 1.0);
  max-height: auto;
  overflow: hidden;

  transition-property: opacity, transform, max-height;
  transition-duration: 0.3s;
}

.fade-height-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;

  will-change: opacity, height;
  transition-property: opacity, height;
  transition-duration: 0.3s;
}

.fade-height-enter.fade-height-enter-active {
  opacity: 1;
  height: auto;
  overflow: hidden;

  will-change: opacity, height;
  transition-property: opacity, height;
  transition-duration: 0.3s;
}

.fade-height-leave {
  opacity: 1;
  height: auto;
  overflow: hidden;

  will-change: opacity, height;
  transition-property: opacity, height;
  transition-duration: 0.3s;
}

.fade-height-leave.fade-height-leave-active {
  opacity: 0;
  height: 0;
  overflow: hidden;

  will-change: opacity, height;
  transition-property: opacity, height;
  transition-duration: 0.3s;
}

.fade-height-appear {
  opacity: 0;
  height: 0;
  overflow: hidden;

  will-change: opacity, height;
  transition-property: opacity, height;
  transition-duration: 0.3s;
}

.fade-height-appear.fade-height-appear-active {
  opacity: 1;
  height: auto;
  overflow: hidden;

  will-change: opacity, height;
  transition-property: opacity, height;
  transition-duration: 0.3s;
}

.height-enter {
  height: 0;
  overflow: hidden;

  transition-property: height;
  transition-duration: 0.3s;
}

.height-enter.height-enter-active {
  height: auto;
  overflow: hidden;

  transition-property: height;
  transition-duration: 0.3s;
}

.height-leave {
  height: auto;
  overflow: hidden;

  transition-property: height;
  transition-duration: 0.3s;
}

.height-leave.height-leave-active {
  height: 0;
  overflow: hidden;

  transition-property: height;
  transition-duration: 0.3s;
}

.height-appear {
  height: 0;
  overflow: hidden;

  transition-property: height;
  transition-duration: 0.3s;
}

.height-appear.height-appear-active {
  height: auto;
  overflow: hidden;

  transition-property: height;
  transition-duration: 0.3s;
}
